@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7bqz5o');
  src:  url('fonts/icomoon.eot?7bqz5o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7bqz5o') format('truetype'),
    url('fonts/icomoon.woff?7bqz5o') format('woff'),
    url('fonts/icomoon.svg?7bqz5o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross1:before {
  content: "\ea10";
}
.icon-onedrive:before {
  content: "\eaaf";
}
