
/* based on https://medium.com/@heyoka/responsive-pure-css-off-canvas-hamburger-menu-aebc8d11d793 */

/*
  ===================================================
  Base styles for all devices sizes, but mobile first
  ===================================================
*/

/*
  Hamburger menu icon/'button' styling
*/
.menu-open {
  display: inline-block;
  padding: .6em 1em;
  line-height: 1em;
  font-size: 1em;
  color: #333;
}

.menu-open, .menu-close:hover {
  text-decoration: none;
}

.menu-open:hover,
.menu-open:focus {
  color: #c00;
}

/*
  Offscreen menu styling
  - Default styles + mobile first
*/
.main-menu {
  position: absolute;
  display: none;
  left: -200px; /* push off the screen to the left for future animation */
  top: 0;
  height: 100%;
	overflow-y: visible;
	overflow-x: visible;
	transition: display 0.3s ease,
              box-shadow 0.3s ease,
              block 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.8);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.8);
          box-shadow: -8px 0 8px rgba(0,0,0,.8);
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

/*
  Generic style for ALL hamburger menu links
*/
.main-menu a {
  display: block;
  padding: .75em 1em;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu a.menu-close {
  border-bottom: 0; /* no border for the X 'button' */
}

.main-menu li:first-child a {
  border-top: 1px solid #383838; /* add top border only for the first link */
}

/*
  Hover & focus style
*/
.main-menu a:hover,
.main-menu a:focus {
  background: rgb(173, 38, 38);
  text-decoration: underline;
}

/*
  Close button positioning
  - Other styles come from `.main-menu a`
*/
.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

#main-menu-close:hover {
  text-decoration: none;
}
/*
  =======================================
  On small devices, allow it to toggle...
  =======================================
*/

/*
  Opening hamburger menu!
  - Using `:` for non-JavaScript
  - `[aria-expanded]` will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.opened,
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0; /* slide from -200px to the left edge at 0 */
  outline: none;
}

/*
  Close menu button
  - Make sure it's on top!
  - Basically, when `.main-menu` is the target of the click, get its child `.menu-close` link
*/
.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

/*
  Hamburger menu list
  - Make sure it's on top!
  - Basically, when `.main-menu` is the target of the click, get its child `<ul>`
*/
.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
  Backdrop
  - Show backdrop
  - Basically, when `.main-menu` is the target of the click, get its sibling `.backdrop`
  - Note: we could use `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.25);
  cursor: default;
}

/*
  ======================================================
  If CSS supports `fixed`, like all good modern browsers
  ======================================================
*/
@supports (position: fixed) {
  /*
    Allow backdrop to stay fixed and not "scroll"
  */
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
  ================================
  Larger screen styling
  ================================
*/

/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 768px) {
  /* Hide hamburger menu/'button' */
  .menu-open,
  .main-menu .menu-close {
    display: none;
  }
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex; /* allows for full height of menu */
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: #06c;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
  }
}