*,
*:before,
*:after {
  box-sizing: border-box;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


body {
  margin: 0;
}

header {
  display: flex;
  align-items: flex-start;
  background-color: orange;
  height: 3em;
  overflow: hidden;
  padding: 0.3em 0 0;
}

h1 {
  margin: 0 0.6em 0 0.2em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4em;
  font-size: 1.6em;
}

section {
  display: none;
  padding: 0.75em 1em;
  background-color: rgb(255, 252, 240);
  height: calc(100vh - 3em);
}

section:target {
  display: block;
}

h2 {
  margin: 0 0 0.25em;
}

p {
  margin: 0 0 0.8em;
}

/*
  ================================
  Larger screen styling
  ================================
*/

/*
  Horizontal menu (i.e. no hamburger)
*/
@media (min-width: 768px){ 
  h1 {
    padding-left: 0.5em 
  }
}